.textField-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;

  .textField-text {
    font-size: 14px;
    font-weight: 500;
  }

  .textField-input {
    border: 1px solid var(--primary-border-color);
    height: 40px;
    border-radius: 10px;
    padding: 0 15px;
  }
}
