@import "../../styles/_variables.scss";

button {
  display: block;
  min-height: 40px;
  border-radius: 10px;
  color: var(--primary-btn-text-color);
  background: var(--primary-btn-bg-color);
  font-weight: bold;
}
