.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 5px;
  padding: 2px;
  background: var(--bg-color-secondary);
  border-radius: 10px;
  box-shadow: var(--box-shadow-color-secondary) 0 0 7px;
  height: 97vh;

  .top .navbar__item {
    margin: 0 0 3px 0;
  }

  .bottom .navbar__item {
    margin-top: 3px;
  }

  .navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      background: var(--bg-color-primary);
    }
    &.active {
      background: rgb(47, 47, 47);
    }
  }
}
