// FONTS

$mainFont: "Roboto", sans-serif;

/////////////////////////

// COLORS

//text
$white-primary-textColor: #000;
$dark-primary-textColor: #fff;

$white-secondary-textColor: #818487;
$dark-secondary-textColor: red; // RED - TODO

//bg
$white-primary-bgColor: #fff;
$dark-primary-bgColor: #000;

//other
$white-primary-borderColor: #e3e3e3;
$dark-primary-borderColor: red;

/////////////////////////
