@import "./_variables.scss";

* {
  font-family: $mainFont;
}

:root {
  --primary-text-color: #{$white-primary-textColor};
  --secondary-text-color: #{$white-secondary-textColor};

  --primary-bg-color: #{$white-primary-bgColor};
  --dark-primary-textColor: #{$dark-primary-bgColor};

  --primary-btn-bg-color: #{$dark-primary-bgColor};
  --primary-btn-text-color: #{$dark-primary-textColor};

  --primary-border-color: #{$white-primary-borderColor};
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 16px;
  color: var(--secondary-text-color);
}
