.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 35px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  a.sign-in__forget-link {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  a.sign-in__sign-up-link {
    margin-top: 30px;
  }
}
