.select-date {
  padding: 0 0 5px 0 !important;
  scrollbar-color: #a8a8a8 #f2faff;
  scrollbar-width: 1px;

  .select-date__section {
    &-item {
      transition: background-color 0.2s ease;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }

    &:first-child {
      border-bottom: 1px solid #e0e0e0;
    }

    .rdp-selected .rdp-day_button {
      background-color: black;
      color: #fff;
      border: none;
    }

    .rdp-root {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rdp-today:not(.rdp-outside) {
      font-weight: 700;
      color: black;
      background: none;
    }

    .rdp-chevron {
      width: 16px;
      height: 16px;
      fill: #565656;
    }
    .rdp-caption_label {
      font-weight: 600;
      font-size: 14px;
      color: #222;
    }
    .rdp-day,
    .rdp-day_button {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
  }
}

.task-modal {
  &__save-btn {
    background-color: black;
    border: none;
  }
}
