.select-date {
  padding: 0 0 5px 0 !important;
  scrollbar-color: var(--scrollbar-color-primary) var(--scrollbar-color-secondary);
  scrollbar-width: thin;
  background: var(--bg-modal-primary);

  .select-date__section {
    &-item {
      transition: background-color 0.2s ease;
      padding: 10px 15px;
      cursor: pointer;
      color: var(--text-color-secondary);

      &:hover {
        background-color: var(--bg-color-primary);
      }
    }

    &:first-child {
      border-bottom: 1px solid var(--border-primary);
    }

    .rdp-selected .rdp-day_button {
      font-weight: 500;
      background-color: var(--bg-color-primary);
      color: var(--text-color-primary);
      border: none;
    }

    .rdp-root {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rdp-today:not(.rdp-outside) {
      font-weight: 800;
      color: var(--text-color-primary);
      background: none;
    }

    .rdp-chevron {
      width: 16px;
      height: 16px;
      fill: var(--text-color-secondary);

      &:hover {
        fill: var(--text-color-primary);
      }
    }

    .rdp-caption_label {
      font-weight: 600;
      font-size: 14px;
      color: var(--text-color-secondary);
    }

    .rdp-day,
    .rdp-day_button {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
  }
}

.task-modal {
  background: var(--bg-modal-primary);

  &__date-trigger, &__priority-trigger {
    background: none;
  }

  &__cancel-btn {
    cursor: pointer;
    background: none;
    color: var(--text-color-secondary);
    transition: all .25s;

    &:hover {
      background: var(--bg-color-primary);
    }
  }

  &__save-btn {
    background: var(--bg-btn-primary);
    cursor: pointer;
  }
}
