.textField-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  width: 100%;

  .textField-input {
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
    height: 40px;
    padding: 0 12px;
    &.error {
      border-color: #c40006d3;
    }
  }
}
