button:has(.reset-password__modal-btn) {
  background: #000;

  a {
    color: #ffffff !important;

    span {
      font-weight: 500;
    }
  }
}

.reset-password {
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  &__send-btn {
    cursor: pointer;
    background: #000;
  }

  &__link {
    color: var(--text-color-primary) !important;
  }
}
