.stylization {
  padding-left: 15px;
  max-width: 420px;

  > div {
    margin-top: 20px;
  }

  .theme {
    &__select-trigger {
      width: 100%;
      min-width: 200px;
    }

    &__hint {
      color: var(--text-color-secondary);
      font-weight: 400;
    }
  }

  .search-page-stylization {
    margin-top: 20px;
  }
}
