// For Hover Cards

.hover-card__description {
  background-color: var(----bg-color-primary) !important;
}

.upcoming {
  flex: 3;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-color-secondary) 0 0 7px;
  max-height: 550px;

  &__type-selector-wrapper {
    box-shadow: inset 0 -1px 0 0 var(--border-primary);
    width: 100%;

    .upcoming__type-selector-trigger {
      background: none;
      box-shadow: none;
    }
  }

  &__groups {
    max-height: 568px;
    overflow: scroll;
    margin-right: -13px;
    padding-right: 13px;
    scrollbar-color: var(--scrollbar-color-primary) var(--scrollbar-color-secondary);
    scrollbar-width: thin;

    .group {
      box-shadow: inset 0 -1px 0 0 var(--border-primary);

      &__trigger {
        background: none;
        box-shadow: none;
      }

      &__counter {
        position: relative;
        width: 20px;
        height: 20px;
        margin-left: 7px;
        border: 1px solid gray;
        border-radius: 100%;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-46%, -55%);
        }
      }

      .task {
        &__title {
          width: 100%;
          text-align: left;

          &--done {
            color: #999;
            text-decoration: line-through;
          }
        }
      }

      &__create-btn {
        cursor: pointer;
      }
    }
  }
}
