// For Hover Cards

.hover-card__description {
  background-color: #f2faff !important;
}

.upcoming {
  flex: 3;
  border-radius: 10px;
  background: #f2faff;
  box-shadow: rgb(171, 171, 171) 0px 0px 7px;
  padding: 10px;

  &__type-selector-wrapper {
    box-shadow: inset 0 -1px 0 0 #0009321f;
    width: 100%;

    .upcoming__type-selector-trigger {
      background: none;
      box-shadow: none;
    }
  }

  &__groups {
    scrollbar-width: thin;
    max-height: 568px;
    overflow-y: auto;
    margin-right: -13px;
    padding-right: 13px;
    scrollbar-color: #a8a8a8 #f2faff;
    scrollbar-width: 1px;

    .group {
      box-shadow: inset 0 -1px 0 0 #0009321f;

      &__trigger {
        background: none;
        box-shadow: none;
      }

      &__counter {
        width: 20px;
        height: 20px;
        margin-left: 7px;
        border: 1px solid gray;
        border-radius: 100%;
      }

      .task {
        &__title {
          width: 100%;
          text-align: left;

          &--done {
            color: #999;
            text-decoration: line-through;
          }
        }
      }

      &__create-btn {
        cursor: pointer;
      }
    }
  }
}
