.upcoming {
  flex: 33%;
  max-width: 33%;
  padding: 10px;
  border-radius: 10px;
  background: #f2faff;
  box-shadow: rgb(171, 171, 171) 0px 0px 7px;
  max-height: 550px;
  overflow-y: scroll;

  &__type-selector-wrapper {
    box-shadow: inset 0 -1px 0 0 #0009321f;
    width: 100%;

    .upcoming__type-selector-trigger {
      background: none;
      box-shadow: none;
    }
  }

  &__group-selector {
    margin-top: 5px;

    .upcoming__group-item {
      box-shadow: inset 0 -1px 0 0 #0009321f;
    }

    .upcoming__group-trigger {
      background: none;
      box-shadow: none;
    }

    .upcoming__group-counter {
      width: 20px;
      height: 20px;
      margin-left: 7px;
      border: 1px solid gray;
      border-radius: 100%;
    }
  }

  &__create-task-btn {
    cursor: pointer;
  }
}
