.upcoming {
  flex: 33%;
  max-width: 33%;
  padding: 10px;
  border-radius: 10px;
  background: #f2faff;
  box-shadow: rgb(171, 171, 171) 0px 0px 7px;

  &__type-selector-wrapper {
    box-shadow: inset 0 -1px 0 0 #0009321f;
    width: 100%;
    .upcoming__type-selector-trigger {
      background: none;
      box-shadow: none;
    }
  }
}
