.calendar {
  flex: 9;
  padding: 10px;
  border-radius: 10px;
  background: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-color-secondary) 0 0 7px;
  overflow-y: scroll;

  .chevron {
    cursor: pointer;
  }

  .table {
    table {
      table-layout: fixed;
      width: 100%;
    }

    &__column-header {
      text-align: center;
    }

    &__cell {
      height: 100px;
      border-left: 1px solid var(--border-primary);
      position: relative;
      padding: 5px;

      &--selected {
        background: var(--bg-color-primary);
      }

      &:last-child {
        border-right: 1px solid var(--border-primary);
      }

      &-date {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 3px;
        right: 3px;
        width: 25px;
        height: 25px;

        &.current-day {
          font-weight: bold;
          font-size: 16px;
        }
      }

      &-list {
        padding-top: 25px;
      }

      &-task {
        margin-bottom: 5px;

        .important {
          background: var(--bg-color-important);
          border-radius: 100%;
        }

        &-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
