.calendar {
  padding: 10px;
  border-radius: 10px;
  background: #f2faff;
  box-shadow: rgb(171, 171, 171) 0px 0px 7px;
  flex: 65%;
  max-width: 65%;

  .table {
    &__column-header {
      text-align: center;
    }

    &__cell {
      height: 100px;
      border-left: 1px solid #0009321f;
      &:last-child {
        border-right: 1px solid #0009321f;
      }
    }
  }
}
