.accordion {
  &__root,
  &__item,
  &__trigger {
    width: 100%;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
    gap: 5px;
  }

  &__close-btn {
    margin-left: auto;
  }
}
