.accordionRoot {
  width: 100%;
  .accordionItem {
    .accordionTrigger {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      gap: 5px;
    }
  }
}
